connections {
    {{.TunnelID}} {
        version = 2
        proposals = aes256-sha256-ecp384
        rekey_time = 3600s
        local_addrs = {{.LocalIP}}
        remote_addrs = {{.PeerIP}}

        local {
            auth = psk
        }
        remote {
            auth = psk
        }

        children {
            net-{{.TunnelID}} {
                local_ts = {{.LocalSubnet}}
                esp_proposals = aes256-sha256-ecp384
                dpd_action = clear
                close_action = none
            }
        }
    }
}
